*{
  font-family: 'Comfortaa', cursive;
  list-style: none;
  text-decoration: none; 
  padding: 0;
	margin:0;
}

body {
  background: linear-gradient(-100deg, #FF9AA2, #FFB7B2, #FFDAC1,#E2F0CB, #B5EAD7, #88E1F2, #C7CEEA);
  background-size: 200% 200%;
  animation: move 60s ease-in-out infinite;  
}

@keyframes move {
  0% {background-position: 0 50%;}
  50% {background-position: 100% 50%;}
  100% {background-position: 0 50%;}
}

.content{
	background-image: url('https://cdn.discordapp.com/attachments/744920006105759755/754119314109366302/ripple.png');
  background-repeat: no-repeat;
  background-attachment: fixed;  
  background-size: cover; 
  display: grid;
	height: 100vh;
}

.sidebar {
  position: absolute;
  padding: 20px;
  background: rgba(255, 255, 255, 0.932);
  width: 100px;
  height: 100%;
}

.sidebar-content{
  background-repeat: no-repeat;
  background-attachment: fixed;  
  background-size: cover; 
}

.sidebar ul{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}
.sidebar li{
	margin: 50px 0px;
	font-size: 0.8em;
}

.sidebar li a{
	text-decoration: none;
}

#video {
  border-radius: 10px;
  left: 100px;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
}

.graph {
  margin-left: 10%;
  padding-top: 5%;
  height: 50%;
  width: 50%;
}

