*{
  font-family: 'Comfortaa', cursive;
  list-style: none;
  text-decoration: none; 
  padding: 0;
	margin:0;
}

body {
  background: linear-gradient(-100deg, #FF9AA2, #FFB7B2, #FFDAC1,#E2F0CB, #B5EAD7, #88E1F2, #C7CEEA);
  background-size: 200% 200%;
  animation: move 60s ease-in-out infinite;  
}

@keyframes move {
  0% {background-position: 0 50%;}
  50% {background-position: 100% 50%;}
  100% {background-position: 0 50%;}
}

.content{
	background-image: url('https://cdn.discordapp.com/attachments/744920006105759755/754119314109366302/ripple.png');
  background-repeat: no-repeat;
  background-attachment: fixed;  
  background-size: cover; 
  display: grid;
	height: 100vh;
}

.sidebar {
  position: absolute;
  padding: 20px;
  background: rgba(255, 255, 255, 0.932);
  width: 100px;
  height: 100%;
}

.sidebar-content{
  background-repeat: no-repeat;
  background-attachment: fixed;  
  background-size: cover; 
	margin-top: 50px;
}

.sidebar ul{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}
.sidebar li{
	margin: 50px 0px;
	font-size: 0.8em;
}

.main{
	margin-left: 21vh;
}

.top-graphs{
	margin-top: 3%;
	margin-left: 26vh;
	display: flex;
}

.bottom-graph{
	margin-left: 38%;
}

#video {
  border-radius: 10px;
  margin-left: 350px;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
}

.graph-div{
  background: rgba(255, 255, 255, 0.932);
  border-radius: 10px;
  padding: 10px;
  margin: 2%;
  height: 40%;
  width: 40%;
}

.rightside{
	float: right;
	margin-right: 100px;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color:#FF9AA2;
}

input:focus + .slider {
  box-shadow: 0 0 1px #FF9AA2;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.options{
	margin-top: 20%;
	float: right;
	margin-right: 100px;
	display: flex; 
  align-items: center; 
  flex-direction: column; 
  justify-content: center; 
}

.doughnut-graph{
	background:  rgba(255, 255, 255, 0.932);
	border-radius: 10px;
  padding: 10px;
  height: 40%;
  width: 40%;
}