* {
  font-family: 'Comfortaa', cursive;
  list-style: none;
  text-decoration: none; 
  padding: 0;
	margin:0;
}

body {
  background: linear-gradient(-100deg, #59B673, #5968B6);
  animation: move 60s ease-in-out infinite;  
}

.content{
	background-image: url('https://cdn.discordapp.com/attachments/744920006105759755/754119314109366302/ripple.png');
  background-repeat: no-repeat;
  background-attachment: fixed;  
  background-size: cover; 
	height: 100vh;
}

@keyframes move {
  0% {background-position: 0 50%;}
  50% {background-position: 100% 50%;}
  100% {background-position: 0 50%;}
}

.sidebar {
  position: absolute;
  padding: 20px;
  background: linear-gradient(-180deg, rgb(190, 197, 230), rgb(204, 238, 214));
  width: 100px;
  height: 100%;
}

.sidebar-content{
	background-image: url('https://cdn.discordapp.com/attachments/744920006105759755/754119314109366302/ripple.png');
  background-repeat: no-repeat;
  background-attachment: fixed;  
  background-size: cover; 
}

.sidebar ul{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}
.sidebar li{
	margin: 50px 0px;
	font-size: 0.8em;
}

.sidebar li a{
	margin-top: 10em;
}

